html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    background-color: #657ED4;
}
h1 {
    font-size: 1.8rem;
    color: whitesmoke;
}
h2 {
    font-size: 1rem;
    color: whitesmoke;
}
.topnav {
    overflow: hidden;
    background-color: #0A1128;
}
body {
    margin: 0;
}
.content {
    padding: 50px;
}
.card-grid {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
    background-color: #FFFBEB;
    box-shadow: 2px 2px 12px 1px rgba(56, 54, 54, 0.5);
}
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.updateButton{
    background-color: #1B8A94;
}

.connectButton{
    background-color: #24AF37;
}

.disconnectButton{
    background-color: #D13A30;
}

.gray-label {
    color: #BEBEBE;
    font-size: 1rem;
}

.reading {
    font-size: 1.8rem;
}